**/*.iml
**/target
target

/.vscode/
/.idea/
*.iml
.project
.settings
.classpath
.checkstyle
**/*.log
bin
.DS_Store
.checkstyle
.factorypath

*.versionsBackup
**/src/main/resources/lib
**/*.flattened-pom.xml
