<?xml version='1.0' encoding='utf-8'?>
<Context>
    <WatchedResource>WEB-INF/web.xml</WatchedResource>
    <WatchedResource>/usr/local/tomcat/conf/web.xml</WatchedResource>
    
	<Environment name="spring.config.location"
          value="/usr/local/tomcat/conf/app/application.yml"
          type="java.lang.String"
          override="false"/>

</Context>
