spring:
  zipkin:
    enabled: false
  main:
    allow-bean-definition-overriding: true
backbase:
  mtls:
    enabled: false
  security:
    http:
      enabled: true
    service-api:
      authentication:
        required-scope: api:service
  stream:
    legalentity:
      sink:
        useIdentityIntegration: true
    dbs:
      user-manager-base-url: http://user-manager:8080
      access-control-base-url: http://access-control:8080
      arrangement-manager-base-url: http://arrangement-manager:8080
    identity:
      identity-integration-base-url: http://identity-integration-service:8080
    compositions:
      product-catalog:
        enable-completed-events: false
        enable-failed-events: true
        product-catalog-integration-url: http://product-catalog-ingestion-integration:8080

bootstrap:
  enabled: false
  # This is just na example. Replace it with data corresponding to your project
  product-catalog:
    productKinds:
      - externalKindId: kind20
        kindName: 'Special Account'
        kinduri: 'special-account'

    productTypes:
      - externalProductId: Money Market1
        externalProductKindId: kind2
        productKindName: Current Account
        externalProductTypeId: Money Market2
        productTypeName: Money Market3
        externalId: Money Market4
        externalTypeId: Money Market5
        typeName: Money Market6
      - externalProductId: Checking
        externalProductKindId: kind3
        productKindName: Checking
        externalProductTypeId: Checking
        productTypeName: Checking
        externalId: Checking
        externalTypeId: Checking
        typeName: Checking
      - externalProductId: Savings
        externalProductKindId: kind2
        productKindName: Savings
        externalProductTypeId: Savings
        productTypeName: Savings
        externalId: Savings
        externalTypeId: Savings
        typeName: Savings

logging:
  level:
    com.backbase.stream.compositions: DEBUG
    org.mockserver: DEBUG
