<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
    <appender name="COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{HH:mm:ss.SSS}] %magenta(%20([%thread])) %highlight([%level]) %cyan([%logger]) %msg%n
            </pattern>
        </encoder>
    </appender>
    <root level="info">
        <!-- to use enable this mode pass -Dcolor to jvm -->
        <appender-ref ref="COLOR"/>
    </root>
    <!--    <logger name="com.backbase.stream" level="debug"/>-->
    <logger name="org.eclipse.jetty" level="WARN"/>
    <!--    <logger name="io.lettuce" level="WARN"/>-->
    <logger name="io.netty" level="WARN"/>
    <logger name="reactor.netty" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="io.netty.util" level="WARN"/>
    <logger name="reactor.netty.http.client" level="WARN"/>
    <logger name="reactor.netty.channel.FluxReceive" level="WARN"/>
    <!--    <logger name="org.springframework" level="WARN"/>-->
    <!--    <logger name="reactor.netty.resources.PooledConnectionProvider" level="INFO"/>-->
    <!--    <logger name="org.springframework.web.reactive.function.client.ExchangeFunctions" level="WARN"/>-->
    <!--    <logger name="org.springframework.cloud.sleuth.annotation" level="debug"/>-->
    <!--    <logger name="org.springframework.cloud.sleuth.instrument.reactor" level="trace"/>-->
</configuration>
