spring:
  zipkin:
    enabled: false
  security:
    oauth2:
      client:
        registration:
          dbs:
            authorization-grant-type: client_credentials
            client-id: bb-client
            client-secret: bb-secret
            client-authentication-method: post
        provider:
          dbs:
            token-uri: http://token-converter:8080/oauth/token
  main:
    allow-bean-definition-overriding: true

backbase:
  security:
    http:
      enabled: true
      adapter:
        enabled: true
    service-api:
      authentication:
        required-scope: api:service
  stream:
    legalentity:
      sink:
        useIdentityIntegration: true
    dbs:
      user-manager-base-url: http://user-manager:8080
      access-control-base-url: http://access-control:8080
      arrangement-manager-base-url: http://arrangement-manager:8080
    identity:
      identity-integration-base-url: http://identity-integration-service:8080

    compositions:
      legal-entity:
        enable-completed-events: true
        enable-failed-events: true
        legal-entity-integration-url: http://legal-entity-ingestion-integration:8080

bootstrap:
  enabled: true
  # This is just na example. Replace it with data corresponding to   your bank
  legalEntity:
    name: "WSECU"
    realmName: "backbase"
    externalId: "WSECU"
    legalEntityType: "BANK"
    administrators:
      - externalId: "admin"
        fullName: "Backbase Root Admin"
        identityLinkStrategy: "IDENTITY_AGNOSTIC"
        emailAddress:
          address: "bbadmin@email.com"
        mobileNumber:
          number: "1234567890"
    users:
      - user:
          externalId: "admin"
          identityLinkStrategy: "IDENTITY_AGNOSTIC"

logging:
  level:
    com.backbase.stream.compositions: DEBUG
